.hero-flexbox{
    align-items: center;

    @extend .flex-column-reverse, 
    .flex-lg-row,
    .mt-md-5,
    .px-3,
    .py-3,
    .px-lg-0,
    .py-lg-0;
}
/* FLEXBOX */ 
.flexbox-center{
    @include flexbox(center);
}

.flexbox-start{
    @include flexbox(flex-start);
}

.flexbox-between{
    @include flexbox(space-between);
}

.flexbox-around{
    @include flexbox(space-around);
}
/* ENDS HERE*/

/* IMAGES */
.img-fluid-extension{
    border-radius: $radius;
    object-fit: fill;
    width: 110px;
    height: 110px;
}
/* ENDS HERE */

/* FORMS */
.input-group{
    flex-direction: column;
    margin-bottom: 20px;

    label{
        margin-bottom: 3px !important;
        @extend .font-size-sm;

        &::after{
            content: ' *';
            @extend .text-danger;
        }
    }

    .input-with-icon{
        position: relative;

        .form-control{
            padding-left: 30px;
        }

        .icon{
            position: absolute;
            top: 11px;
            left: 10px;
            @extend .text-muted;
        }
    }
}
/* ENDS HERE */

/* FONT */
.secondary-font{
    font-family: $secondary-font !important;
}

.font-weight-500{
    font-weight: 500;
}

.font-weight-600{
    font-weight: 600;
}

.font-size-sm{
    font-size: .9em !important;
}
/* ENDS HERE */

/* CUSTOM SHADOW */
.drop-shadow{
    filter: drop-shadow($drop-shadow);
}

.text-shadow{
    text-shadow: $text-shadow;
}
/* ENDS HERE */

/* MIN-HEIGHT 100 */
.min-height-center-100{
    min-height: 100vh;
    @include flexbox(center);
}
/* ENDS HERE */

/* FEEDBACK */
.feedback{
    color: $primary;
    @extend .h1, 
    .font-weight-bold, 
    .secondary-font;
}
/* ENDS HERE */

/* CONTACT FORM */
.contact-form{
    background-color: #fff !important;

    @extend .card, .p-4, .shadow, .mx-3, .mx-md-0;
}
/* ENDS HERE */