// HEADINGS
.h1{
    font-size: clamp(2rem, 10vw, 3rem) !important;
}
// HEADINGS

// BORDERS
.rounded{
    border-radius: $radius !important;
}

.rounded-top{
    border-top-left-radius: 50% !important;
    border-top-right-radius: 50% !important;
}
// ENDS HERE

// NAVIGATION
.navbar{
    .navbar-brand{
        font-weight: 600 !important;
        font-size: 1rem !important;
    }
    
    .nav-link{
        outline: none;
        border: none;
        background-color: transparent;
        font-size: .8rem !important;

        &:hover{
            color: #000 !important;
        }
    }
}

.active{
    font-weight: 600 !important;
    color: $primary !important;
}
// ENDS HERE

// BUTTONS
.btn{
    // @extend .py-3, .px-4;
    padding: 10px 25px;
    border-radius: $radius !important;
    font-weight: 500;
    // box-shadow: $drop-shadow !important;
    // transition: all .2s ease-out;

    // &:active{
    //     box-shadow: $drop-shadow__active !important;
    //     transform: translateY(2px);
    // }
}

.btn-outline-primary{
    &:hover{
        color: #fff !important;
    }
}
// ENDS HERE

// CARDS
.card{
    border-radius: $radius !important;
    border: none !important;
    background-color: transparent !important;

    .card-body{
        display: flex;
        flex-direction: column;

        .card-text{
            margin-top: auto;
        }
    }

    .card-footer{
        border: 0;
        background-color: transparent;
    }
}
// ENDS HERE

// FONT
.font-weight-bolder{
    font-weight: 800 !important;
}
// ENDS HERE

// BADGE
.badge{
    background-color: #f2f2f2;
    border-radius: 12px;
    font-weight: 500;
    font-size: 12px;
}
// ENDS HERE

// FORMS
.input-group{
    .form-control{
        width: 100%;
        border-radius: $radius !important;
    }
    
    .invalid-feedback{
        font-weight: 500 !important;
    }
}
// ENDS HERE

// CAROUSEL
.carousel-indicators{
    li{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: unquote($primary + "44");
    }

    .active{
        background-color: $primary;
    }
}

.carousel-inner{
    .active{
        color: $dark !important;
    }
}
// ENDS HERE