$primary:       #673ab7 !default;
$light:         #f8f9fa !default;
$dark:          #131b23 !default;

$theme-colors: (
    'primary': $primary,
    'light': $light,
    'dark': $dark
);

$font-family: 'Poppins', 'Roboto', 'Montserrat', sans-serif;
$secondary-font: 'Libre Baskerville', 'Arvo', serif;

$border: .0625rem solid rgba(231,234,243,.7);
$radius: 5px;
$font-size-base: .9rem;
$line-height-base: 1.6;

$drop-shadow: 1px 5px 0 rgba(0, 0, 0, 0.2);
$drop-shadow__active: 1px 3px 0 rgba(0,0,0,0.2);

$text-shadow: 3px 8px 4px rgba(0, 0, 0, 0.2);

$saturated-primary: #eff9ee;